---
import { marked } from "marked";

import Layout from "../layouts/Layout.astro";
import { venueListSchema } from "../api";
import PageContainer from "../components/PageContainer.astro";

const venues = await fetch(
  `${import.meta.env.API_SERVER}/api/venues?populate=*`
)
  .then((response) => response.json())
  .then((response) => venueListSchema.parse(response.data));
---

<Layout>
  <PageContainer>
    <p class="py-4">
      <strong>Alternating Current 2025</strong> carries the theme ‘Urban Scores’.
      Drawn from Elena Biserna’s writing, the theme seeks to provoke responses which
      both score the city and use the city as their score. 2025’s programme takes
      a multi-venue approach. Performances will take place at Pepper Canister Church
      & The Complex, Depot. Interventions and broadcasts will take place at Flux
      Studios & Gallery.
    </p>
    {
      venues.map((venue) => (
        <>
          <h2>{venue.name}</h2>
          {venue.description ? (
            <div set:html={marked.parse(venue.description)} />
          ) : null}
          {venue.googleMapsUrl ? (
            <iframe
              src={venue.googleMapsUrl}
              class="border-0 w-full h-[300px]"
              allowfullscreen={false}
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            />
          ) : null}
        </>
      ))
    }
  </PageContainer>
</Layout>
