---
import { DateTime } from "luxon";

import type { Event } from "../api";
import ArtistInfoModalButton from "./artist-info-modal/ArtistInfoModalButton.astro";
import { marked } from "marked";

interface Props {
  event: Omit<Event, "venue">;
}

const { event } = Astro.props;
---

<div class="mb-2">
  <h3>{event.name}</h3>
  <h4>
    {DateTime.fromISO(event.startsAt).toLocaleString(DateTime.TIME_24_SIMPLE)}{
      " "
    }
    -{" "}
    {DateTime.fromISO(event.endsAt).toLocaleString(DateTime.TIME_24_SIMPLE)}
  </h4>
  {
    event.description ? (
      <div>
        Contributors ~{" "}
        {event.artists.map((artist) => (
          <ArtistInfoModalButton artist={artist} class="underline">
            {artist.name}
          </ArtistInfoModalButton>
        ))}
      </div>
    ) : null
  }

  {
    event.description ? (
      <>
        <button class="view-details-button underline" data-event-id={event.id}>
          Info
        </button>
        <div
          class="event-description-container hidden"
          data-event-id={event.id}
          set:html={marked.parse(event.description)}
        />
      </>
    ) : (
      <ArtistInfoModalButton artist={event.artists[0]} class="underline">
        Info
      </ArtistInfoModalButton>
    )
  }
</div>
