---
import { DateTime } from "luxon";

import type { Event } from "../api";
import ArtistInfoModalButton from "./artist-info-modal/ArtistInfoModalButton.astro";
import { marked } from "marked";

interface Props {
  event: Omit<Event, "venue">;
}

const { event } = Astro.props;
---

<div class="mb-2">
  <div class="flex">
    <div class="flex-1 pr-4">
      <h4>
        {
          DateTime.fromISO(event.startsAt)
            .setZone("Europe/Dublin")
            .toLocaleString(DateTime.TIME_24_SIMPLE)
        }{" "}
        -{" "}
        {
          DateTime.fromISO(event.endsAt)
            .setZone("Europe/Dublin")
            .toLocaleString(DateTime.TIME_24_SIMPLE)
        }
      </h4>
    </div>
    <div class="w-2/3">
      <!-- <h4>{event.name}</h4> -->
      {
        event.description || !event.artists[0] ? (
          <>
            <h4>{event.name}</h4>
          </>
        ) : (
          <ArtistInfoModalButton artist={event.artists[0]} class="underline">
            <h4>{event.name}</h4>
          </ArtistInfoModalButton>
        )
      }
    </div>
  </div>
  {
    event.description ? (
      <>
        <button class="view-details-button underline" data-event-id={event.id}>
          Details
        </button>
        <div
          class="event-description-container grid overflow-hidden transition-all duration-250 ease-in-out grid-rows-[0fr] opacity-0"
          data-event-id={event.id}
        >
          <div
            class="overflow-hidden bg-[#FCFCFE] p-2 mt-4"
            set:html={marked.parse(event.description)}
          />
        </div>
      </>
    ) : null
  }
</div>
