---
import type { HTMLAttributes } from "astro/types";
import type { Artist } from "../../api";
import { getArtistImageUrl } from "../../utils";

interface Props {
  artist: Artist;
  class?: HTMLAttributes<"a">["class"];
}

const { artist, class: className } = Astro.props;
---

<a
  id={artist.name}
  href={`#${artist.name}`}
  class={`artist-info-button ${className}`}
  data-artist-name={artist.name}
  data-artist-image-url={getArtistImageUrl(artist) ?? ""}
  data-artist-description={artist.description}
>
  <slot />
</a>
